@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.is-product-detail {
	.breadcrumb-home {
		color: #757575;
	}
	.product-detail-title {
		h1 {
			font-weight: bold;
			font-size: 0.94rem;
		}
	}
	.policy-title {
		margin-top: 16px;
		font-size: 0.94rem;
	}
	.policy-list {
		.policy-item {
			color: green;
			border-bottom: 1px solid #e0e0e0;
			padding: 8px 0;
			&:hover {
				opacity: 0.8;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.collapsed {
		height: 300px;
		overflow: hidden;
		transition: height 0.3s ease-in-out;
	}

	.expanded {
		height: auto;
		transition: height 0.3s ease-in-out;
	}
}
.product-info {
	&-list {
		display: grid;
		grid-gap: 12px;
	}
	&-title {
		font-weight: bold;
	}
	&-item {
		border-bottom: 1px solid $color-gray;
		padding-bottom: 8px;
		&:last-child {
			border-bottom: none;
		}
	}
}
