.about-title {
	color: $color-main;
	display: grid;
	align-items: center;
	text-align: center;
	// margin: 0 auto;
}
.content-editor p {
	text-align: center;
	font-size: 0.9em;
}
.about-icon {
	width: 50px;
	height: 50px;
	object-fit: contain;
}
.about-us-item {
	text-align: center;
}
.about-icon-item {
	justify-items: center;
}
.about-us-content {
	font-size: 0.9em;
}
.about-capacity-system {
	font-size: 0.9em;
	background-color: $color-main;
	color: white;
	border-radius: 10px;
	padding: 5px 10px;
	font-weight: 500;
	float: left;
	text-align: center;
	margin-right: 16px;
	margin-top: 4px;
}
