.has-error {
	margin-top: 4px;
	color: red;
	font-style: italic;
	font-size: 12px;
	&.hidden {
		display: none;
	}
}
.delivery-method-subtitle {
	font-size: 12px;
	font-weight: bold;
	padding-top: 12px;
}
