@charset "utf-8";
// --------------------------------------------------
// KV
// --------------------------------------------------
.key {
	display: grid;
	&-shadow {
		display: grid;
		img {
			margin: auto;
			width: 100%;
			max-width: 1000px;
			height: auto;
		}
	}
	&-visual {
		position: relative;
		overflow: hidden;
		figure {
			margin: 0;
		}
		.owl-theme .owl-dots {
			position: absolute;
			bottom: 16px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&-item {
		background-size: cover;
		height: 200px;
		@media (min-width: $screen-md-min) {
			height: 65vh;
		}
		background-position: center;
	}
}
