@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.modal {
	&-body {
		display: grid;
		grid-gap: 8px;
	}
	&-detail {
		text-align: center;
	}
	&-registration {
		.modal-content {
			max-height: calc(100% - 16px);
			overflow: hidden;
		}
		.modal-body {
			overflow-y: scroll;
			height: calc(100vh - 40px - 67px - 150px);
			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* Internet Explorer/Edge */
			&::-webkit-scrollbar {
				display: none; /* Chrome, Safari, Opera */
			}
		}
		.modal-footer {
			padding: 16px 0 0;
		}
		.modal-scroll {
			display: grid;
			grid-gap: 8px;
		}
	}
	&-success {
		.title-success {
			font-weight: 700;
			font-size: 20px;
		}

		.booking {
			display: grid;
			grid-gap: 8px;
			&-header,
			&-name,
			&-phone {
				color: $color-black;
			}
		}
		.service {
			display: grid;
			grid-gap: 8px;
			&-header {
				font-weight: bold;
				color: $color-main;
			}
			&-list {
				display: grid;
			}
			&-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.name,
				.value {
					color: $color-black;
				}
			}
		}
	}
	.submit-otp {
		&.btn {
			background-color: $color-main;
		}
	}
	&-content {
		&-customized {
			padding: 16px !important;
			// margin: auto !important;
			.modal-body {
				padding: 0;
				grid-gap: 12px;
				margin-top: 16px;
				.form-group {
					margin-bottom: 0;
					label {
						margin-bottom: 0;
					}
				}
			}
			.modal-header {
				padding: 0 0;
				border-bottom: none;
			}
			.modal-close {
				position: relative;
				// top: 1rem;
				// right: 1rem;
				width: 30px;
				height: 30px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				border-radius: 50%;
				background: #f5f5f5;
			}
			.modal-title {
				font-size: 18px;
				font-weight: 700;
				// margin-bottom: 1rem;
			}
		}
	}
}

.title_otp_xt {
	font-size: 18px;
	font-weight: 700;
	color: #1a5478;
}

.text-14 {
	// font-size: 12px;
	// font-weight: 300;
}

.bg-round {
	background: #1a5478;
	color: #fff;
}

.input-note {
	.input {
		border: 1px solid #ccc;
		border-radius: 10px !important;
		padding: 10px !important;
		width: 100%;
		font-size: 14px;
		height: 100px !important;
	}
}

.time-input-content {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	width: 80px;
	text-align: center;
}

.booking-time-picker {
	input {
		display: none;
	}
}

input:checked + .time-input-content,
.time-input-content:hover {
	--tw-bg-opacity: 1;
	background-color: #1a5478;
}

input:checked + .time-input-content,
.time-input-content:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.booking-service {
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	z-index: 1;
	position: absolute;
	background: #ffff;
	border-radius: 16px 16px 0px 0px;
}

.booking-row {
	text-align: start;
	overflow-y: auto;
	height: 90%;
	padding-bottom: 100px;
	padding: 0px 0 100px 0;
	// padding: 0px 0 30px 0;
}

.booking-row::-webkit-scrollbar {
	display: none;
}

.form-title::before {
	top: 4px;
}

.edit-topping {
	position: absolute;
	right: 0;
	top: 66px;
	font-size: 8px;
	background: #00bcd4;
	padding: 2px 12px;
	border-radius: 12px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

.byHand {
	display: none;
}

.title-topping {
	// font-size: 12px;
	font-weight: 600;
	color: #1a5478;
	border-bottom: 1px solid #d3d1d2;
	padding-bottom: 4px;
	margin-bottom: 4px;
}

.button-select-gift {
	background: rgba(255, 35, 89, 0.1);
	color: #ff2359;
	padding: 2px 12px;
	border-radius: 6px;
}

.button-select-gift span {
	// font-size: 12px;
}

.toppings-group {
	display: grid;
	grid-gap: 8px;

	.topping-group {
		display: grid;
		grid-gap: 8px;
		label {
			font-size: 14px;
		}
	}

	.topping-header {
		font-size: 14px;
		font-weight: bold;
		// margin-bottom: 8px;
	}

	.topping-container {
		margin-bottom: 16px;
		display: grid;
		grid-gap: 16px;
	}

	.topping-title {
		font-size: 14px;
		font-weight: normal;
		margin-bottom: 8px;
		display: grid;
		font-weight: bold;
	}
}

.booking-confirm {
	background-color: $color-main;
	color: #fff;
	font-weight: 700;
	width: 100%;
	justify-content: center;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		width: auto;
	}
}

.booking-service {
	&-info {
		display: grid;
		grid-template-columns: 40px 1fr;
		align-items: center;
		gap: 8px;
		padding-right: 32px;
	}
	&-image {
		width: 40px;
		height: 40px;
		border-radius: 8px;
		overflow: hidden;
	}
	&-content {
		display: grid;
		grid-template-columns: 1fr;
	}
	&-name {
		font-size: 14px;
		line-height: normal;
		font-weight: bold;
	}
	&-price {
		font-size: 14px;
		color: $color-main;
	}
}

.modal-booking {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	.close-modal {
		position: absolute;
		right: 16px;
		top: 12px;
		z-index: 2;
	}
}

.modal-service-list {
	display: grid;
	grid-template-columns: 1fr;
	// grid-gap: 16px;
}

.modal-service-item {
	display: grid;
	grid-template-columns: 60px 1fr auto;
	grid-gap: 12px;
	border-bottom: 1px solid #eee;
	padding: 8px 0;
	align-items: center;
	&:last-child {
		border-bottom: none;
	}
}
.modal-service-content {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2px;
}
.modal-service-title {
	// font-size: 12px;
	line-height: normal;
}
.modal-service-image {
	width: 60px;
	height: 60px;
	border-radius: 8px;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.text-find-doctor {
	font-size: 12px;
	font-weight: bold;
}

.chat-modal {
	margin: 0 16px;
}

.close-modal {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
