@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.modal {
	&-body {
		display: grid;
		grid-gap: 8px;
	}
	&-detail {
		text-align: center;
	}
	&-registration {
		.modal-content {
			max-height: calc(100% - 90px);
			overflow: hidden;
		}
		.modal-body {
			overflow-y: scroll;
			height: calc(100vh - 40px - 67px - 150px);
		}
		.modal-footer {
			padding: 20px;
		}
		.modal-scroll {
			display: grid;
			grid-gap: 8px;
		}
	}
	&-success {
		.title-success {
			font-weight: 700;
			font-size: 20px;
		}

		.booking {
			display: grid;
			grid-gap: 8px;
			&-header,
			&-name,
			&-phone {
				color: $color-black;
			}
		}
		.service {
			display: grid;
			grid-gap: 8px;
			&-header {
				font-weight: bold;
				color: $color-main;
			}
			&-list {
				display: grid;
			}
			&-item {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.name,
				.value {
					color: $color-black;
				}
			}
		}
	}
}

.title_otp_xt {
	font-size: 18px;
	font-weight: 700;
	color: #1a5478;
}

.text-14 {
	font-size: 12px;
	font-weight: 300;
}

.bg-round {
	background: #1a5478;
	color: #fff;
}

.input-note {
	.input {
		border: 1px solid #ccc;
		border-radius: 10px !important;
		padding: 10px !important;
		width: 100%;
		font-size: 14px;
		height: 100px !important;
	}
}

.time-input-content {
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 8px;
	font-size: 14px;
	cursor: pointer;
	width: 80px;
	text-align: center;
}

.booking-time-picker {
	input {
		display: none;
	}
}

input:checked + .time-input-content,
.time-input-content:hover {
	--tw-bg-opacity: 1;
	background-color: #1a5478;
}

input:checked + .time-input-content,
.time-input-content:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

.booking-service {
	height: 85%;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0;
	z-index: 1;
	position: absolute;
	background: #ffff;
	border-radius: 16px 16px 0px 0px;
}

.booking-row {
	text-align: start;
	overflow-y: auto;
	height: 90%;
	padding-bottom: 100px;
	padding: 0px 4px 100px 4px;
}

.booking-row::-webkit-scrollbar {
	display: none;
}

.form-title::before {
	top: 4px;
}

.edit-topping {
	position: absolute;
	right: 0;
	top: 66px;
	font-size: 8px;
	background: #00bcd4;
	padding: 2px 12px;
	border-radius: 12px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
}

.byHand {
	display: none;
}

.title-topping {
	font-size: 12px;
	font-weight: 600;
	color: #1a5478;
	border-bottom: 1px solid #d3d1d2;
	padding-bottom: 4px;
	margin-bottom: 4px;
}
