@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.news {
	display: block;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	// padding: 20px;
	// background-color: #f9f9f9;
	// border-radius: 8px;
	margin-left: 16px;
	position: relative;
	@media (min-width: $screen-md-min) {
		margin-left: 0;
	}
	&-carousel {
		margin-bottom: 16px;
		&.owl-drag {
			.owl-item {
				&.active {
					width: 320px !important;
				}
			}
		}
		.owl-nav {
			position: absolute;
			top: -46px;
			left: 32px;
		}
	}
	&-list {
		list-style: none;
		padding: 0;
		margin: 16px 0 24px 0;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 16px;
		@media (min-width: $screen-md-min) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	&-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 52px;
		// font-size: 12px;
		font-weight: bold;
	}
	&-all {
		// font-size: 12px;
		color: $color-main;
		font-weight: normal;
	}
	&-item {
		display: grid;
		height: 100%;
		border-radius: 8px;
		border: 1px solid $color-gray;
		align-content: baseline;
		overflow: hidden;
		// margin-right: 32px;
	}
	&-title {
		// font-size: 0.8rem;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: bold;
	}
	&-link {
		position: relative;
		transition: all 0.4s ease;
		display: grid;
		grid-gap: 4px;
		align-content: baseline;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	&-thumb {
		display: grid;
		overflow: hidden;
		align-content: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&-noimage {
		display: grid;
		justify-content: center;
		width: 64px;
		height: 64px;
		justify-self: center;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&-thumb,
	&-noimage {
		justify-content: center;
		align-items: center;
		max-height: 171px;
		height: 171px;
		@media (min-width: $screen-md-min) {
			max-height: 236px;
			height: 236px;
		}
	}
	&-category {
		display: flex;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none; /* IE và Edge */
		scrollbar-width: none; /* Firefox */
		list-style: none;
		padding-left: 16px;
		padding-right: 0;
		@media (min-width: $screen-md-min) {
			padding-left: 16px;
			padding-right: 16px;
			margin: auto;
			width: 100%;
			max-width: 1024px;
		}
		&::-webkit-scrollbar {
			display: none;
		}
		&-list {
			display: flex;
			flex-wrap: nowrap;
			gap: 12px;
			min-width: max-content;
		}
		&-item {
			background-color: rgba($color-light-blue, 0.4);
			border-radius: 16px;
			padding: 4px 16px;
			// font-size: 12px;
			color: $color-main;
			transition: all 0.4s;
			&:hover {
				background-color: $color-main;
				color: $color-white;
			}
			&.active {
				background-color: $color-main;
				color: $color-white;
			}
		}
	}
	&-detail {
		display: grid;
		padding: 16px;
		grid-gap: 8px;
		@media (min-width: $screen-md-min) {
			grid-gap: 8px;
		}
	}
	&-date {
		display: flex;
		grid-gap: 8px;
		align-items: center;
		// font-size: 12px;
		justify-content: space-between;
	}
	&-more {
		color: $color-main;
	}
}
