@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.package {
	display: grid;
	// margin-top: -20px;
	// margin-left: -16px;
	// margin-right: -16px;
	background-color: rgba($color-gray, 0.4);
	padding: 16px;
	grid-gap: 12px;
	border-radius: 8px;
	&.home {
		// margin-left: -16px;
		// margin-right: -16px;
		// margin-top: 16px;
		padding: 16px 16px;
	}
	&-info {
		display: grid;
		// margin-left: -20px;
		// margin-right: -20px;
		background-color: rgba($color-gray, 0.4);
		padding: 16px;
		grid-gap: 12px;
		border-radius: 8px;
	}
	&-title {
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;
	}
	&-list {
		display: grid;
		align-items: center;
		// justify-content: space-between;
		grid-gap: 8px;
	}
	&-item {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 8px;
	}
	&-label {
		display: flex;
		grid-gap: 8px;
		align-items: center;
	}
	&-value {
		display: flex;
		font-weight: bold;
		grid-gap: 8px;
	}
}
