@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	&-item {
		display: grid;
	}
}
