@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.product {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: #f9f9f9;
	border-radius: 8px;
	&-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
		@media (min-width: $screen-md-min) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	&-item {
		display: grid;
	}
	&-title {
		font-size: 0.8rem;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	&-link {
		position: relative;
		transition: all 0.4s ease;
		display: grid;
		grid-gap: 4px;
		align-content: baseline;
		cursor: pointer;
		&:hover {
			opacity: 0.8;
		}
	}
	&-thumb {
		display: grid;
	}
	&-noimage {
		display: grid;
		// justify-content: center;
	}
	&-thumb,
	&-noimage {
		justify-content: center;
		align-items: center;
		max-height: 171px;
		height: 171px;
		@media (min-width: $screen-md-min) {
			max-height: 236px;
			height: 236px;
		}
	}
	&-review {
		position: absolute;
		top: 8px;
		right: 0;
		color: $color-blue;
		background-color: rgba(#f4f4f4, 0.6);
		padding: 0 4px;
		border-radius: 4px;
		font-size: 0.75rem;
		height: fit-content;
	}
	&-discount {
		background-color: $color-light-blue;
		padding: 0 4px;
		width: fit-content;
		font-size: 0.8rem;
		color: $color-blue;
		align-items: center;
	}
	&-km {
		display: flex;
		grid-gap: 16px;
	}
	&-category {
		display: flex;
		grid-gap: 8px;
		list-style: none;
		border-bottom: 3px solid $color-gray;
		margin-bottom: 12px;
		padding-bottom: 12px;
	}
	&-detail {
		display: grid;
		// grid-gap: 8px;
		@media (min-width: $screen-md-min) {
			grid-gap: 8px;
		}
	}
	&-price {
		color: $color-blue;
		font-weight: bold;
	}
	&-detail-title {
		position: relative;
		display: grid;
		grid-template-columns: auto auto;
		grid-gap: 8px;
		.product-review {
			position: relative;
		}
	}
	&-expand {
		display: grid;
		grid-gap: 4px;
		margin: 16px auto;
		transition: all 0.4s ease;
	}
}
.price {
	&-through {
		text-decoration: line-through;
	}
	&-discount {
		color: $color-blue;
		font-weight: bold;
	}
}
.category {
	&-item {
		display: grid;
		align-items: center;
		text-align: center;
		border-radius: 24px;
		// border: 1px solid $color-gray;
		padding: 6px 12px;
		transition: all 0.4s ease;
		color: $color-main;
		background-color: rgba($color-light-blue, 0.4);
		&:hover {
			background-color: $color-main;
			color: $color-white;
		}
		&.active {
			background-color: $color-main;
			color: $color-white;
		}
	}
	&-link {
		line-height: normal;
		span {
			font-size: 12px;
		}
	}
}

.expand {
	&-item {
		display: grid;
		font-weight: bold;
		font-size: 0.9rem;
		cursor: pointer;
	}
	&-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 4px 0;
	}
	&-label {
		line-height: normal;
	}
	&-content {
		height: 0;
		overflow: hidden;
		transition: all 0.4s ease;
		opacity: 0;
		&.active {
			// height: auto;
			opacity: 1;
		}
	}
	&-desc {
		font-weight: normal;
		padding-bottom: 8px;
	}
}

.btn-booking-service {
	margin-top: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	border: 1px solid $color-main;
	text-align: center;
	color: $color-main;
	font-size: 12px;
	cursor: pointer;
	transition: all 0.4s ease;
	&:hover {
		opacity: 0.8;
	}
}
