@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.rating {
	display: flex;
	// border-radius: 16px;
	// background-color: $color-gray;
	// padding: 0 8px;
	grid-gap: 4px;
	.name {
		font-weight: bold;
	}
	.name,
	.value {
		color: $color-black;
	}
	.separator {
		font-size: 8px;
		opacity: 0.5;
	}
	&-icon {
		align-items: center;
	}
}

.discount-percentage {
	background-color: rgba($color-light-blue, 0.4);
	border-radius: 6px;
	color: $color-main;
	font-size: 11px;
	font-weight: normal;
	padding: 3px 8px;
}
.text-price {
	color: $color-main;
	font-weight: bold;
}
