.section-home-banner {
	position: relative;
	width: 100vw;
	height: unset;
	@media (min-width: $screen-md-min) {
		height: 66.66vh;
	}
	overflow: hidden;
	margin: 0 auto;
}

.section-doctor {
	.highlight-filter {
		padding-left: 16px;
		@media (min-width: $screen-sm-min) {
			padding-left: 0;
		}
	}
}
