@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.service {
	&-content {
		display: grid;
		align-content: space-between;
		grid-gap: 6px;
	}
	&-link {
		&:hover {
			opacity: 0.8;
		}
	}
	&-title {
		margin-bottom: 0;
	}
	&-tab {
		width: auto !important;
		display: flex !important;
		align-items: center !important;
		padding: 6px 12px;
		border-radius: 24px !important;
		border: none;
		background-color: rgba($color-light-blue, 0.4);
		color: $color-main;
		// font-size: 12px;
		&.item-active {
			background-color: $color-main !important;
			color: $color-white !important;
			// border-color: #71ad67 !important;
		}
	}
}

.text-service-title {
	font-weight: normal;
	font-size: 0.94rem;
}
