@charset "utf-8";
.modal,
.modal-inside,
.modal-nav {
	display: grid;
}
.modal {
	min-width: 280px;
	display: none;
	.dotline {
		padding: 8px 0;
	}
}
.modal.modal-process,
.modal.modal-wait {
	min-width: 220px;
}
.modal-header {
	position: relative;
}
.modal-nav {
	position: absolute;
	top: 0;
	right: 0;
}
.modal-close {
	width: 24px;
	height: 24px;
	cursor: pointer;
	text-align: center;
}
.modal-title {
	font-weight: bold;
	text-transform: uppercase;
}
.modal-process,
.modal-wait {
	.modal-label {
		padding-left: 5px;
	}
}
.modal-label {
	span {
		color: green;
		font-size: 1.1rem;
	}
}
.modal-inside {
	padding-top: 8px;
}
.fancybox-inner {
	height: auto !important;
}

.login {
	min-width: 280px;
	display: grid;
	&-status {
		display: flex;
		justify-content: space-between;
		align-items: center;
		form {
			margin: 0;
		}
	}
}

.logout {
	background-color: white;
	border: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
	line-height: unset;
	display: grid;
	align-items: center;
	color: red;
}
.environment {
	display: flex;
	grid-gap: 8px;
}

.column-booking_status {
	display: flex;
	justify-content: center;
}
.sync-status {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
	&-item {
		margin: 0;
	}
	.dashicons {
		transition: all 0.4s ease;
		font-size: 24px;
		&-success {
			color: $color-green;
		}
		&-faile {
			color: $color-red;
			cursor: pointer;
			&:hover {
				opacity: 0.6;
			}
		}
	}
}
