@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.wrap-xs {
	max-width: $screen-xs-min;
	margin-left: auto;
	margin-right: auto;
}
.wrap-sm {
	max-width: $screen-sm-min;
	margin-left: auto;
	margin-right: auto;
}
.wrap-md {
	max-width: $screen-md-min;
	margin-left: auto;
	margin-right: auto;
}
.wrap-lg {
	max-width: $screen-lg-min;
	margin-left: auto;
	margin-right: auto;
}
.wrap-content {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 24px;
	padding-right: 24px;
	box-sizing: border-box;
	position: relative;
	@media (min-width: $screen-lg-min) {
		padding-left: 0;
		padding-right: 0;
		max-width: 1190px;
	}
}
