@charset "utf-8";

// --------------------------------------------------
// ○○○
// --------------------------------------------------
.footer-general {
	color: #000;
	text-align: start;
	background-color: #f6f6f6;
	padding: 16px 0;

	.logo {
		width: 96px;
		overflow: hidden;
		margin-left: -16px;
	}
	.accordion-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
	}

	.accordion-header {
		width: 100%;
		background: none;
		border: none;
		font-size: 12px;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 8px 0px;
	}
	.accordion-title {
		font-size: 12px;
		font-weight: 300;
	}
	.menu {
		&-item {
			display: flex;
			flex-direction: column;
			gap: 8px;
			padding-left: 16px;
			a {
				color: #000;
				text-decoration: none;
				font-size: 12px;
				font-weight: 300;
				line-height: 1.6rem;
			}
		}
	}
	.address {
		font-size: 12px;
	}

	.accordion {
		max-width: 600px;
		margin: auto;
	}

	.accordion-item {
		border-bottom: 1px solid #ddd;
	}

	.accordion-content {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease-out;
		/* Hiệu ứng mở rộng */
	}

	.accordion-content ul {
		list-style: none;
		padding: 4px;
	}

	.accordion-content li {
		padding: 4px;
		font-weight: 300;
	}

	.accordion-content p {
		padding: 0px 8px 12px;
		font-weight: 300;
	}

	footer {
		text-align: center;
		padding: 20px;
		font-size: 12px;
		color: #888;
	}

	.material-icons {
		font-size: 16px;
	}
}
