@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
.header {
	&-nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// height: 64px;
		// border-bottom: 1px solid #ddd;
	}
}
