@charset "utf-8";
// --------------------------------------------------
// ○○○
// --------------------------------------------------
* {
	box-sizing: (border-box);
}
html {
	overflow: unset !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
label {
	line-height: normal;
}
html,
body,
main,
a,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
	font-size: 0.94rem;
	line-height: normal;
}
.text-primary {
	opacity: 1;
	color: $color-main;
}
a,
li {
	transition: all 0.4s;
}
a {
	text-decoration: none;
	&:hover {
		opacity: 0.8;
	}
}
